body
{
	margin: 0;
	background-color: #E8F1F8;
	font-size: 12px;
	font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;
	padding: 0;
	height: 100%;
	width:100%;
}

div, span, td
{
	font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;
}
a:link, a:visited
{
	text-decoration: none;
	color: #333;
}
input
{
	border: solid 1px #3C7FB1;	
}