*
{
	padding: 0;
	margin: 0;
}
body
{
	margin: 0;
	background-color: #E8F1F8;
	font-size: 12px;
	font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;
	padding: 0;
	height: 100%;
	width:100%;
}

div, span, td
{
	font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;font-size: 12px;
}
a:link, a:visited
{
	text-decoration: none;
	color: #333;
}
input
{
	/*border: solid 1px #3C7FB1;	*/
}

.right
{
	border: 0px solid #aaaaaa;
	border-left: none;
	font-family: "宋体";
	font-size: 12px;
}
.right1
{
	background: url(../images/ht17_03.gif) repeat-x;
	margin: 7px;
}
.right1 h1 img
{
	float: left;
	height: 512px;
}
.right2
{
	float: left;
	margin-top: 10px;
}
.right2 ul li
{
	width: 62px;
	float: left;
	line-height: 22px;
	padding-left: 10px;
	padding-top: 2px;
	background: url(../images/ht18_03.gif) no-repeat;
}
.dv
{
    text-align: center;
    margin:5px 10px;
}
.envthp
{
	margin-top: 4px;
	border: 1px solid #c6c6c6;
}
.tableground
{
    width:100%;
    background-color:#dddddd;
}
.tableground td
{
    height:30px;
    white-space: nowrap; background-color: White;
}
table.dataTable td, table.dataTable th
{
	color: #555555;
	border-bottom: 1px solid #DDDDDD;
	line-height: 16px;
	line-height: 18px;
	padding: 3px 7px 3px 6px;
	padding: 2px 7px 2px 6px;
	white-space: nowrap;
}
table.dataTable td
{
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}
table.dataTable tr.dataTableHead td
{
	height: 27px;
	line-height: 27px;
	padding: 0 7px 0 6px;
	border-left: #D6D6D6 0px solid;
	border-bottom: #C6C6C6 0px solid;
	background: url(../images/th.gif) no-repeat left top;
	font-weight: bold;
}
table.dataTable
{
	border: 1px solid #C6C6C6;
	border-collapse: collapse;
	background: url(../Images/thbg.gif) #FFFFFF repeat-x left top;
	table-layout: fixed;
}
/*----------选项卡*/
.tabs_head { background: url(../images/option_tabs.gif) repeat-x 0 0; margin:0px 0px 10px 0px;}
.tabs_head h1 { background: url(../images/option_tabs.gif) no-repeat 0 -40px; color: #6774A8; line-height: 40px; font-size: 14px; padding-left: 18px; margin: 0; }
.tabs_head .actions { background: url(../images/option_tabs.gif) no-repeat 100% -80px;}
.tabs_head .actions { text-align: left; padding-left: 5px; padding-top: 9px;  padding-right: 9px;}
.tabs_head .actions tr { background-image: none; }
.tabs_head .actions td { color: #6774A8; cursor:pointer; font-weight:normal; text-align: center; padding: 0 10px; height: 30px; line-height:30px; }
.tabs_head .actions td.active { cursor:default; font-weight:bold; background: #FFFFFF; border: solid #AACCEE; border-width: 1px 1px 0; }
.tabs_head .actions td a { color: #6774A8;}
.tabs_head .actions td a:hover { text-decoration: none; }
.tabs_table { width: 100%; border-collapse: collapse; border: solid; border-color: #AACCEE; border-width: 0px 1px 1px; }
.tabs_table th { background: #FFFFFF; color: #6774A8; border-bottom: 1px solid #AACCEE; padding: 5px 1px 5px 1px; font-weight: bold;}
.tabs_table td { border: 1px solid #D8DDE5; padding: 3px 5px 3px 5px; font-family: Georgia, "Times New Roman", Times, serif; }


/*----------提示表格*/
.helptable { margin:0px 0 5px 0; width: 100%; background: #FDFFF2 url(../images/help_info.gif) no-repeat 0 0; border: 1px dotted #DBDDD3; padding: 15px 10px 10px 10px;}
.helptable td { padding: 15px 15px 15px 35px; line-height: 18px; }
.helptable ul { padding: 0; margin: 0 0 0 2em; }


.btnsubmit1 { cursor:pointer; color: #00599B; background: url(../images/btn_submit1.gif) no-repeat 0 0; width:71px; line-height: 22px; height: 22px; border: 0px; padding: 0; }
.btncancel1 { cursor:pointer; color: #7C7161; background: url(../images/btn_cancel1.gif) no-repeat 0 0; width:71px; line-height: 22px; height: 22px; border: 0px; padding: 0; }
.btnsubmit2 { cursor:pointer; color: #00599B; background: url(../images/btn_submit2.gif) no-repeat 0 0; width:101px; line-height: 22px; height: 22px; border: 0px; padding: 0; }
.btncancel2 { cursor:pointer; color: #7C7161; background: url(../images/btn_cancel2.gif) no-repeat 0 0; width:101px; line-height: 22px; height: 22px; border: 0px; padding: 0; }
input.BigInput,textarea.BigInput {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text.png') repeat-x 0 -1px; 
    width: 157px;
}
input.BigInput:hover,textarea.BigInput:hover {font-size: 10pt;border: 1px solid #99CC00; background: white url('../images/bg_input_text_hover.png') top left repeat-x;}

input.SmallInput,textarea.SmallInput {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text.png') top left repeat-x; background-position:0 -1px;}
input.SmallInput:hover,textarea.SmallInput:hover {font-size: 9pt;border: 1px solid #99CC00; background: white url('../images/bg_input_text_hover.png') top left repeat-x;}

input.BigStatic,textarea.BigStatic {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

input.SmallStatic,textarea.SmallStatic {font-size: 9pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

select.BigSelect  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.BigSelect:hover  { COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}

select.SmallSelect{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text.png') top left repeat-x; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
select.SmallSelect:hover{ COLOR: #000066;  border: 1px solid #C0BBB4; background: white url('../images/bg_input_text_hover.png') top left repeat-x; BORDER-BOTTOM:1px double; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}

select.BigStatic  { COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; BORDER-BOTTOM:1px double; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 22px; LINE-HEIGHT: normal}
select.SmallStatic{ COLOR: #000066; BACKGROUND: #E0E0E0; border:solid 1px black; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal}
/**添加**/
A.orgAdd:link, A.orgAdd:visited{
   color:#207BD6;
   padding-left:12px;
   background:url("../images/org_select.png") no-repeat;
   background-position:0px 0px;
}
A.orgAdd:hover, A.orgAdd:active{
   color:#207BD6;
   text-decoration: underline;
}
/**清除**/
A.orgClear:link, A.orgClear:visited{
   color:#9AA9B8;
   padding-left:12px;
   background:url("../images/org_select.png") no-repeat;
   background-position:0px -60px;
   margin-left:5px;
}
A.orgClear:hover, A.orgClear:active{
   color:#207BD6;
   background-position:0px -40px;
   text-decoration: underline;
}
a.addfile {
   display:inline-block;
   position:relative;
   color:#207BD6;
   text-decoration:none;
   padding-left:12px;
   background:url("../images/org_select.png") no-repeat;
   background-position:0px 4px;
}
a.addfile:hover {
   color:#9AA9B8;
   text-decoration:underline;
   background-position:0px -16px;
}
input.addfile {
   cursor:pointer;
   left:-5px;
   opacity:0;
   filter:alpha(opacity=0);
   position:absolute;
   width:1px;
}
a.selfile:link, a.selfile:visited {
   color:#207BD6;
   text-decoration:none;
}
a.selfile:hover, a.selfile:active {
   color:#9AA9B8;
   text-decoration:underline;
}


#AspNetPager1 {margin-top:5px;margin-bottom:5px;}
.system_icon
{
	background-image: url(../images/menus/system.png);
}
.workdate_icon
{
	background-image: url(../images/icons/calendar.png);
}
.workbaogao_icon
{
    width:16px;
    height:16px;
	background-image: url(../images/menus/baogao.gif);
}
.project_icon
{
	background-image: url(../images/menus/flow.gif);
}
.bbs_icon
{
	background-image: url(../images/menus/bbs.gif);
}
.peixun_icon
{
	background-image: url(images/menus/hrm/profile-create.png);
}
.tongji_icon
{
	background-image: url(images/menus/chart_organisation.png);
}
.gongcheng_icon
{
	background-image: url(images/menus/gongcheng.png);
}
.gongzuo_icon
{
	background-image: url(images/menus/rizhi.png);
}
.weidang_icon
{
	background-image: url(../images/menus/bangong.png);
}
.jingyin_icon
{
	background-image: url(images/menus/customer/product.png);
}
.kaohe_icon
{
	background-image: url(images/menus/admin/car_apply.png);
}